# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.env.local

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl

# GCP credentials
*-service-account.json
*-credentials.json
gcp-key.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data (no commits de datasets)
data/
*.parquet
*.csv

# Airflow
airflow/logs/
airflow/plugins/
airflow-webserver.pid

# Databricks
.databricks/

# Extra protection: any json that contains "private_key" should never be committed
*sa.json
*-key.json
